.button {
}

.disabled {
}

.secondary {
    background: blue;
}

.default {
    background: white;
}

.red {
    background: red;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
